.Zadanie {
  font-size: 1.5rem;
  color: red;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom:1rem;
}

.App {
  font-size: 2rem;
}

.Enter {
  width: 10vw;
  font-size: 1.3rem;
}
.Student {
  display: flex;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
